@import "tailwindcss";

@plugin 'tailwind-scrollbar' {
  nocompatible: true;
  preferredStrategy: 'pseudoelements';
}

@theme{
  --color-background: #262A2D;
  --color-foreground: #303136;
  --color-primary: #779EE3;
  --color-accent: #35363B;
}

@layer base {
  body {
    @apply text-white bg-background;
  }
}
